[Unit]
Description=Nekobot
After=network.target

[Service]
ExecStart=/usr/bin/node botto.js
ExecReload=/usr/bin/node botto.js
WorkingDirectory=/opt/neko/
KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target